<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Shrimpy Chip News</title>
    <link rel="stylesheet" href="/static/css/2010.css">
</head>

<header>
    <h1>The Shrimp Times</h1>
</header>


<body>
    {% extends 'layout.html' %}

    {% block content %}

    <div id="container">
        <nav>
            <button>placeholder</button>
            <button>placeholder</button>
        </nav>
        <div class="content">
            <!--    The left side content featuring the title, authour, and context in a vertical column -->
            <div class="left">

                <button id="TLB" class="LT"></button>
                <p id="TLA" class="LA"></p>
                <p id="TLP" class="LC"></p>
            </div>

            <!-- the middle content featuring large image with larger text, should be bigger than the two side bars-->
            <div class="Middle">
                <img id="TMI" src="#" alt="img-placeholder">
                <button id="TMB" class="MT"></button>
                <p id="TMA" class="MA"></p>
                <p id="TMP" class="MC"> </p>
            </div>

            <!-- The right ride content featuring the title author and context 2 at a time in the same space as the left side-->
            <div class="right">
                <div>
                    <button id="TRB" class="RT1"></button>
                <p id="TRA" class="RA1"></p>
                <p id="TRP" class="RC1"></p>
                </div>


            </div>


        </div>
        <div class="content">
            <!--    The left side content featuring the title, author, and context in a vertical column -->
            <div class="left">

                <button  id="MLB" class="LT"></button>
                <p id="MLA" class="LA"></p>
                <p id="MLP" class="LC"> </p>
            </div>

            <!-- the middle content featuring large image with larger text, should be bigger than the two side bars-->
            <div class="Middle">
                <img id="MMI" src="#" alt="img-placeholder">
                <button id="MMB" class="MT"></button>
                <p id="MMA" class="MA"></p>
                <p id="MMP" class="MC"></p>
            </div>

            <!-- The right ride content featuring the title author and context 2 at a time in the same space as the left side-->
            <div class="right">
                <div>
                    <button id="MRB" class="RT1"></button>
                <p id="MRA" class="RA1"></p>
                <p id="MRP" class="RC1"></p>
                </div>

            </div>


        </div>

        <div class="content">
            <!--    The left side content featuring the title, authour, and context in a vertical column -->
            <div class="left">

                <button id="BLB" class="LT"></button>
                <p id="BLA" class="LA"></p>
                <p id="BLP" class="LC"> </p>
            </div>

            <!-- the middle content featuring large image with larger text, should be bigger than the two side bars-->
            <div class="Middle">
                <img id="BMI" src="#" alt="img-placeholder">
                <button id="BMB" class="MT"></button>
                <p id="BMA" class="MA"></p>
                <p id="BMP" class="MC"></p>
            </div>

            <!-- The right ride content featuring the title author and context 2 at a time in the same space as the left side-->
            <div class="right">
                <div>
                    <button id="BRB" class="RT1"></button>
                <p id="BRA" class="RA1"></p>
                <p id="BRP" class="RC1"> </p>
                </div>


            </div>


        </div>
    </div>

    {% endblock %}

</body>

<script>
    document.getElementById("TLB").innerHTML = "title test";
    document.getElementById("TLA").innerHTML = "author test";
    document.getElementById("TLP").innerHTML = "Context";

    document.getElementById("MLB").innerHTML = "title test";
    document.getElementById("MLA").innerHTML = "author test";
    document.getElementById("MLP").innerHTML = "Context";

    document.getElementById("BLB").innerHTML = "title test";
    document.getElementById("BLA").innerHTML = "author test";
    document.getElementById("BLP").innerHTML = "Context";

    document.getElementById("TMI").innerHTML = "insert image source";
    document.getElementById("TMB").innerHTML = "title test";
    document.getElementById("TMA").innerHTML = "author test";
    document.getElementById("TMP").innerHTML = "Context";

    document.getElementById("MMI").innerHTML = "insert image source";
    document.getElementById("MMB").innerHTML = "title test";
    document.getElementById("MMA").innerHTML = "author test";
    document.getElementById("MMP").innerHTML = "Context";

    document.getElementById("BMI").innerHTML = "insert image source";
    document.getElementById("BMB").innerHTML = "title test";
    document.getElementById("BMA").innerHTML = "author test";
    document.getElementById("BMP").innerHTML = "Context";

    document.getElementById("TRB").innerHTML = "title test";
    document.getElementById("TRA").innerHTML = "author test";
    document.getElementById("TRP").innerHTML = "Context";

    document.getElementById("MRB").innerHTML = "title test";
    document.getElementById("MRA").innerHTML = "author test";
    document.getElementById("MRP").innerHTML = "Context";

    document.getElementById("BRB").innerHTML = "title test";
    document.getElementById("BRA").innerHTML = "author test";
    document.getElementById("BRP").innerHTML = "Context";



</script>


</html>

