
*, *::before, *::after{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
} 

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

li a:hover{
    color: gray;
}

nav a{
    text-decoration: none;
    color: #000000;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8125rem;
}
nav button{
    width: 60px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: #000000 solid 2px;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
nav button:hover{
    background-color: white;
    color: #000000;
    border: #000000 solid 2px;
}
header img{
    width: 40px;
}

Main h1{
    text-align: center;
    font-family: "Alatsi", sans-serif;
    margin-top: 50px;
    font-weight: 600;
    font-size: 5rem;
}

.Image_Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5%;
}
.Image_Title img{
    background-color: gray;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#Tile_img{
    background-color: white;
    padding: 10px;
    margin-top: -3%;
    width: 50%;
    z-index: 1;
    border-radius: 0;
    box-shadow: 0 3px 5px 3px #c8bdbd98;
}
article{
    padding: 10px 15%;
    margin-top: 5%;
}

article > h2{
    margin-bottom: 2%;
    font-family: "Ramabhadra", sans-serif;
}
article > p{
    margin-bottom: 5%;
    font-family: "Open Sans", sans-serif;
    font-size: .8125rem;
    line-height: 150%;
}

.title_body{
    display: flex;
    margin-bottom: 3%;
    font-family: "Open Sans", sans-serif;
    align-items: center;    
}
.title_body p{
    font-family: "Open Sans", sans-serif;
    font-size: .8125rem;
    line-height: 150%;
    margin-left: 5%;
}
.title_body h3{
    font-family: "Ramabhadra", sans-serif;
    line-height: 100%;
    font-weight: 500;
    white-space: nowrap;
    padding: 20px 30px 20px 0;
    padding-right: 80px;
    border-right: solid 1px black;
    width: 50px;

}
.Card_area{

    padding: 10px 15%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;

}
.cards{
    width: 480px;
    background-color: rgba(200, 193, 193, 0.473);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    font-family: "Alatsi", sans-serif;
    margin: 10px;
}

.cards > img{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    margin: 5px ;
    
}
.Discpt{
    padding: 5%;
    padding-top: 0;
}
#name{
    font-size: 1.5rem;
}

.Discpt h4{
    line-height: 150%;

}
.Discpt p{
    margin-top: 20px;
    color: #282626ec;
}