<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
    <header>
        <h1>The Shrimpy Chip Times</h1>
        <a href="/about">About Us</a>
    </header>
    <main>
        <img src="../static/images/group_photo.jpg" alt="Shrimp Chips ByteJam Team">
        <div>
            <h1>Our Project</h1>
            <p>This project was built with Python Flask, Jinja framework, NYTimes News API, and SQLAlchemy.</p>
        </div>
        <div>
<!--            TODO: REPEAT THIS FOR EVERY MEMBER. -->
            <h1>The Shrimpy Chips News Team</h1>
            <h2>Kofi Pierre Last_Name</h2>
            <p>somethingsomethingsomething very cool</p>
        </div>
    </main>
</body>
</html>