<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ramabhadra&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <a href="/home"><img src="/static/images/Logo.png" alt=""></a>
        
            <nav>
                <ul>
                    <li><a href="#">US</a></li>
                    <li><a href="#">World</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/">Log Out</a></li>
                </ul>
            </nav>

    </header>

    <main>
        <h1>About Us</h1>

        <div class="Image_Title ">
            <img src="/static/images/WhiteboardIdeas.jpg"  alt="">
            <img id="Tile_img" src="/static/images/FullLogo.png" width="500px" alt="The Shrimpy Chips Times Logo">
        </div> 
        

        <Article>
            <h2>ByteJam 2024 Project</h2>
            <p>A news website with the ability to go back in time to different decades, each featuring their own significant stories,
                supported by New York Times Archive API (hence the similar logo).<br>
                Featuring the decades of the 2020s, 2010s, 2000s, and the 1990s.</p>
            <div class="title_body">
                <h3>Our Mission</h3>
                <p>To inform the public, about archival information. That and also feature this website :)</p>
            </div>

            <div class="title_body">
                <h3>Resources</h3>
                <p>Built with HTML/CSS, Python, Flask, and Jinja</p>
            </div>
            
            <div class="title_body">
                <h3>The Process</h3>
                <p>We began with wireframe planning and design choices, before splitting into front-end and back-end to complete our assigned tasks</p>
            </div>
        </Article>

        <h1>Team</h1>

        <Section class="Card_area">
            <div class="cards">
                <img src="/static/images/credits/Ashley.jpg" alt="">
                <div class="Discpt">
                    <div class="Info">
                        <h4 id="name">Ashley Abongwa</h4>
                        <h4>Front End </h4>
                        <h4>1st Year </h4>
                    </div>
                     <p>2020s Website, Navigation, + About Us Design
                    </p>
                </div>
            </div>

            <div class="cards">
                <img src="/static/images/credits/Clayton.jpg" alt="">
                <div class="Discpt">
                    <div class="Info">
                        <h4 id="name">Clayton Williams</h4>
                        <h4>Front End</h4>
                        <h4>1st Year</h4>
                    </div>
                     <p>2010s Website Design
                    </p>
                </div>
            </div>

            <div class="cards">
                <img src="/static/images/credits/Pierre.jpg" alt="">
                <div class="Discpt">
                    <div class="Info">
                        <h4 id="name">Soliver Pierre</h4>
                        <h4>Front End </h4>
                        <h4>1st Year </h4>
                    </div>
                     <p>2020s/1990s Website Design
                    </p>
                </div>
            </div>

            <div class="cards">
                <img src="/static/images/credits/Efren.jpg" alt="">
                <div class="Discpt">
                    <div class="Info">
                        <h4 id="name">Efren Vargas</h4>
                        <h4>Front End </h4>
                        <h4>1st Year</h4>
                    </div>
                     <p>2000s Website Design
                    </p>
                </div>
            </div>

            <div class="cards">
                <img src="/static/images/credits/Brayan.jpg" alt="">
                <div class="Discpt">
                    <div class="Info">
                        <h4 id="name">Brayan Covarrubias-Segura </h4>
                        <h4>Backend </h4>
                        <h4>2nd Year </h4>
                    </div>
                     <p>App routes, models, + general backend development
                    </p>
                </div>
            </div>

            <div class="cards">
                <img src="/static/images/credits/KofiPierre.png" alt="">
                <div class="Discpt">
                    <div class="Info">
                        <h4 id="name">Kofi Takpah Souka</h4>
                        <h4>Backend </h4>
                        <h4>2nd Year </h4>
                    </div>
                     <p>New York Times API, + final styling <br>*image may not be accurate
                    </p>
                </div>
            </div>

        </Section>
    </main>
</body>
</html>