<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Shrimpy Chip Times</title>
    <link rel="stylesheet" href="/static/css/layout.css">
</head>
<body>
    <header class="header_layout">
        <a href="/home"><img src="/static/images/Logo.png" alt=""></a>
            <nav class="nav_layout">
                <ul>
                    <li><a href="#">US</a></li>
                    <li><a href="#">World</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/">Log Out</a></li>
                </ul>
            </nav>
    </header>

    <section class="Timeline">
        <a id="Next_btn_1" href=""><img src="/static/images/nextButton.png " height="25" alt="Previous Button"></a>
        <a href="#" class="Timeline_year">Previous</a>

        {% for decade in decades %}
            <form action="/home" method="post">
                <input type="hidden" name="year" value="{{ decade.value }}">
                <button type="submit"><img src="/static/images/circleButton.png" height="20" alt="Circle for {{ decade.value }}"></button>
            </form>

            {% if not loop.last %}
                <div class="Line"><img src="/static/images/remove.png"  alt="Line for on Timeline"></div>
            {% endif %}
        {% endfor %}

        <a href="#" class="Timeline_year_2" >Next</a>
        <a href="#" id="Next_btn_2"><img src="/static/images/nextButton.png " height="25" alt="Previous Button"></a>
    </section>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Build by the Shrimp Chips Team, ByteJam 2024</p>
    </footer>
</body>
</html>