<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/styles.css" >
</head>
<body>
<form action="/welcome" method="post">
  <label for="name">Please enter you name</label>
  <input type="text" id="name" name="name" required placeholder="This field is required">

  <label for="email">Enter your email</label>
  <input type="email" id="email" name="email" required placeholder="This field is required">

  <label for="password">Create a password</label>
  <input type="password" id="password" name="password" required placeholder="This field id required">
</form>


</body>
</html>